.done{
    background-color: rgb(211, 248, 211);
}
.not-done{
    background-color: rgb(252, 217, 217);
}

.large{
    width: 20px;
    height: 20px;
}

.card{
    border-radius: 10px;
box-shadow:  12px 12px 24px #c1cacd, 
             -12px -12px 24px #ffffff;
}