.done{
    background-color: rgb(211, 248, 211);
}
.not-done{
    background-color: rgb(252, 217, 217);
}

.large{
    width: 20px;
    height: 20px;
}

.card{
    border-radius: 10px;
    box-shadow:  12px 12px 24px #8d9495, 
             -12px -12px 24px #ffffff;
}

/* dark mode */
/* .card {
    border-radius: 10px;
    color: whitesmoke;
    border: solid rgb(252, 217, 217) 2px;
    background: linear-gradient(145deg, #1d292f, #182228);
    box-shadow:  12px 12px 24px #11181b, 
             -12px -12px 24px #25343d;
} */